.git/
.github/
.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
.env
.editorconfig
.pre-commit-config.yaml
.pylintrc
.pylintrc-mandatory
*.md
*.rst
LICENSE
.gitignore
.gitattributes
node_modules/
.planning/
logs/
